*{
	text-align: center;
	font-family: Lucida Grande, sans-serif;
}

body{
	background-image: url("../images/404.jpg")
}

.center-me-daddy{
	width: 100%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.some-fucking-box{
	background-color: rgba(0,0,0,0.5);
	color: #fff;
	padding-bottom: 5%;
	padding-top: 5%;
}

.motherfucking-text{
	display: inline-block;
	top: 25%;
	position: relative;
}