@import url('https://fonts.googleapis.com/css?family=Raleway');

body, html {
	background-color: #000000;
	background-image: url("./pattern.png");
	color: #fff;
	transition: background 1s;
}

*{
	font-family: "Raleway", sans-serif;
}